*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

li{
    list-style-type: none;
    cursor: pointer;
}
.container{
    width: 80%;
    margin: auto;
    background-color: aqua;
    color: white;
}
.nav{
    display: flex;
    justify-content: space-between;
    border-bottom: 4px dotted #fff;
}

.bocuabo{
    display: flex;
}



.bo{
    position: relative;
}
.bo:hover>ul{
    display: block;
}
.con{
    display: none;
    position: absolute;
    top:40px;
}

.con>li{
    width: 190px;
    background-color: aqua;
    padding :8px 0px;
}

.navbar{
    padding: 20px 20px;
}
.navbar>ul>li{
    padding-left: 15px;
    padding-right: 15px;
    font-size: 20px;
}
.logo{
    padding: 20px 20px;
    font-weight: bolder;
    font-size: 26px;
    text-shadow: 0px 0px 7px blue;
}
.content{
    display: flex;
    margin-top: 20px;
    padding-bottom: 30px;
    border-bottom: 4px dotted #fff;
}
.left{
    flex: 4;
    margin-left: 40px;
}
.right{flex: 6;
padding-left: -10px;}

select,input,textarea{
    border: 1px solid blue;
    width: 250px;
}

select{
    width: auto !important;
}

.nut{
    margin-right: 10px;
    border: 3px dotted #fff;
    border-radius: 5px;
    width: auto !important;
    
}

footer{
    padding-top:20px;
    text-align: center;
    padding-bottom: 5px;
}